{
  "useTabs": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "",
    "^remotion",
    "",
    "^@remotion",
    "",
    "^@/modules/",
    "",
    "^@/shared/",
    "",
    "^@/public/",
    "",
    "^@/",
    "",
    "^[./]"
  ]
}
